@page "/"
@inject IBookRepository BookRepository

<PageTitle>Book List</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6">

        <a href="/add-new" class="btn btn-primary mb-3">Add New Book</a>
        @if (books is null)
        {
            <div class="book-item">
                Loading books.Book Please wait....
            </div>
        }
        else if (books.Any())
        {
            @foreach (var book in books)
            {
                <div class="book-item">
                    <BookCard book="book"></BookCard>
                </div>
            }
        }
        else
        {
            <div class="book-item">
                <i>No Books found.</i>
            </div>
        }
    </div>
</div>

@code {

    public IEnumerable<Book>? books;

    protected override async Task OnInitializedAsync()
    {
        books = await BookRepository.GetBooksAsync();
    }

}
